@font-face {
  font-family: Ketchum;
  src: url(../assets/fonts/ketchum/Ketchum.otf);
}

@font-face {
  font-family: KetchumItalic;
  src: url(../assets/fonts/ketchum/Ketchum_Italic.otf);
}

@font-face {
  font-family: PokemonClassic;
  src: url(../assets/fonts/Pokemon_Classic.ttf);
}

/* 
16-bit means it's a base-16 number system
instead of base-10 like we're used to

We don't have 16 single-digit numbers,
so we use A-F after 1-9

0 = lack of color or BLACK
F = max color

#000000 is actual THREE colors packed to together:
[00] [00] [00]
[R]  [G]  [B]

Maximum red = #FF0000
Maximum green = #00FF00

Mix colors: #FFFF00 (max red + max green)

Black = no colors: #000000
White = all colors at max: #FFFFFF

 F = 15 (aka 16 - 1)
just like 9 = 10 - 1 for base-10

FF = 255 (aka [16 x 16] - 1)
just like 99 = ([10 x 10] - 1) in base-10

So each color has a maximum value (or "truest self") 255
*/
h1 {
  font-family: Ketchum;
  font-size: 32px;
  color: #FFD000;
  -webkit-text-stroke: 2px #0040D0;
}

#battle-screen {
  width: 50vw;
  min-width: 400px;
  max-width: 800px;
  height: 25vw;
  min-height: 200px;
  max-height: 400px;
  margin: 0 auto;
  border: 2px solid black;
}

#enemy-pokemon {
  height: 50%;
}

#player-pokemon {
  height: 50%;
}

div.stats {
  height: 50%;
  border: .5vw solid black;
  background-color: #f2d2a240;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 1.5vw 1vw 1.5vw 1vw;
}

.sprite {
  box-sizing: border-box;
}

span.name {
  height: 80%;
  margin:auto;
  font-family: PokemonClassic;
}

span.level {
  float: right;
  margin-right: 0;
}

.level {
  font-family: PokemonClassic;
  margin-right: 0;
}

p.hp-background {
  display: flex;
  align-items: center;
  float: right;
  width: 16vw;
  height: 1.5vw;
  border-radius: 2vw;
  padding: 0 0 0 .75vw;
  background-color: black;
  color: orange;
  font-weight: 900;
  font-size: 1.2vw;  
}

span.hp-meter {
  display: inline-block;
  margin: auto .25vw auto auto;
  height: 1vw;
  width: 12.5vw;
  background-color: green;
  border: 2px solid white;
  border-radius: 1vw;
}